@page "/Login"
@using JeLSolucoesFiscais.Aplicacao
@using JeLSolucoesFiscais.Aplicacao.Criptografias
@using JeLSolucoesFiscais.Aplicacao.Usuario
@using System.ComponentModel.DataAnnotations
@inject HttpClient Http
@inject UsuariosCadastrados UsuariosCadastrados
@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService
@inject IJSRuntime JS


<PageTitle>Login</PageTitle>

<style>
  .textstyle{
    color: #D8DEE9;
  }

  .login-container {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 90vh; /* Garante que ocupe toda a altura da tela */
  }

</style>

<div class="login-container">
  <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-2">
      <div class="row">
        <div class="col-12">
          <label class="mb-1 textstyle" for="email">Email:</label>
          <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
        </div>
      </div>
    </div>

    <div class="form-group mb-2">
      <div class="row">
        <div class="col-12">
          <label class="mb-1 textstyle" for="senha">Senha:</label>
          <InputText id="senha" type="password" class="form-control" @bind-Value="loginModel.Senha" />
        </div>
      </div>
    </div>

    <button type="submit" class="col-12 btn btn-primary mt-1">Entrar</button>

    <div id="loadingScreen" class="loading-screen">
      <div class="spinner"></div>
      <p class="mt-1">Entrando...</p>
    </div>

    @if (loginFailed)
    {
      <div class="alert alert-danger mt-3">Credenciais inválidas. Tente novamente.</div>
    }
    @if (sucess)
    {
      <div class="alert alert-sucess mt-3">Redirecionando.</div>
    }
    @if (Inadimplente)
    {
      <div class="alert alert-danger mt-3">Seu contrato se encontra vencido, entre em contato conosco. Clique no nosso Chat</div>
    }
  </EditForm>
</div>

@code {
  private LoginModel loginModel = new LoginModel();
  private bool loginFailed = false;
  private bool Inadimplente = false;
  private bool sucess = false;


  private async Task HandleLogin()
  {

    string? retorno = await JS.InvokeAsync<string>("Login", loginModel.Email.ToString(), loginModel.Senha.ToString());

    if (retorno == "sucesso")
    {
      await JS.InvokeAsync<string>("chamaLoading");

      string hash = UsuariosCadastrados.GeraHash(20);
      LocalStorageService.SetItemAsync("Hash", hash);

      await JS.InvokeAsync<string>("AtualizaTabela", "Usuarios_LoginLogOff", "IdLogin", hash);
      await JS.InvokeAsync<string>("AtualizaTabela", "Usuarios_LoginLogOff", "UltimoAcesso", DateTime.Now);

      await Task.Delay(800);
      await JS.InvokeAsync<string>("cancelaLoading");

      NavigationManager.NavigateTo("/JeLSolucoesFiscais", true);
    }
    else
    {
      loginFailed = true;
    }
  }

  public class LoginModel
  {
    [Required(ErrorMessage = "Email é obrigatório")]
    public string Email { get; set; }

    [Required(ErrorMessage = "Senha é obrigatória")]
    public string Senha { get; set; }
  }
}