@using JeLSolucoesFiscais.Aplicacao.Usuario
@inherits LayoutComponentBase
@inject LocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (isAuthenticated)
        {
            <div class="top-row px-4">
                <button class="btn btn-link" @onclick="Sair">Sair</button>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>


@code {
    private async Task Sair()
    {
        LocalStorageService.SetItemAsync("isAuthenticated", "false");

        NavigationManager.NavigateTo("/Login", true);
    }

    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await LocalStorageService.GetItemAsync("isAuthenticated") == "true";
    }

}

