@using JeLSolucoesFiscais.Aplicacao.Criptografias
@using JeLSolucoesFiscais.Aplicacao.Usuario
@inject LocalStorageService LocalStorageService
@inject NavigationManager Navigation
@inject IJSRuntime JS

<style>
  /* Ocultar submenus inicialmente */
  .nav-submenu {
  display: none;
  margin-left: 15px;
  }

  .nav-submenu-b {
    display: block;
    margin-left: 15px;
  }

  /* Estilizando os links como nav-link */
  a.nav-link {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  }

  a.nav-link:hover {
  text-decoration: underline;
  }

  a.nav-link-b {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
  }
</style>

<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">SoluFiscal.Online</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="nav-scrollable" @onclick="ToggleNavMenu">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link-b" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Início
      </NavLink>
    </div>
    @if (!acessoLiberado)
    {
      <div class="nav-item px-3">
        <NavLink class="nav-link" href="Login">
          <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
        </NavLink>
      </div>
    }
    @if (acessoLiberado)
    {
      @if (isAdministrador && 1==2)
      {
        <div class="nav-item px-3">
          <a class="nav-link" onclick="toggleSubMenu(this)">Administrador</a>
          <div class="nav-submenu">
            <a class="nav-link" onclick="toggleSubMenu(this)">Dashboard</a>
            <div class="nav-submenu">
              <NavLink class="nav-link" href="Administrador">
                <span aria-hidden="true"></span> Clientes
              </NavLink>
            </div>
          </div>
        </div>
      }
      @if (modulosLiberados.Contains("CadEmpresas") && 1 == 2)
      {
        <div class="nav-item px-3">
          <a class="nav-link" onclick="toggleSubMenu(this)">Cad_Empresas</a>
          <div class="nav-submenu">
            <NavLink class="nav-link" href="CadEmpresas/Cadastrar">
              <span aria-hidden="true"></span> Cadastrar
            </NavLink>
          </div>
        </div>
      }
      @if (modulosLiberados.Contains("EfdFiscal"))
      {
        <div class="nav-item px-3">
          <a class="nav-link-b"> EFD-Fiscal</a>
          <div class="nav-submenu-b">
            <a class="nav-link" onclick="toggleSubMenu(this)">Bloco 0</a>
            <div class="nav-submenu">
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro 0150</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_0/Registro_0150/AtualizaRfb">
                  <span aria-hidden="true"></span> Atualizar RFB
                </NavLink>
              </div>
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro 0200</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_0/Registro_200/AlterarNcm">
                  <span aria-hidden="true"></span> Alterar Ncm
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_0/Registro_200/TipoProduto">
                  <span aria-hidden="true"></span> Tipo Produto
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_0/Registro_200/GeneroItem">
                  <span aria-hidden="true"></span> Genero Item
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_0/Registro_200/AlterarAliquota">
                  <span aria-hidden="true"></span> Alterar Aliquota
                </NavLink>
              </div>
            </div>
            <a class="nav-link" onclick="toggleSubMenu(this)">Bloco C</a>
            <div class="nav-submenu">
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro C100</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C100/AlterarData">
                  <span aria-hidden="true"></span> Alterar Data
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C100/AlterarTipoPagamento">
                  <span aria-hidden="true"></span> Alterar Tipo Pagamento
                </NavLink>
              </div>
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro C170</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C170/AlterarCstCfop">
                  <span aria-hidden="true"></span> Alterar Cst/Cfop
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C170/AlterarCampoMovimentaFisica">
                  <span aria-hidden="true"></span> Alterar Camp.Movimenta Fisica
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C170/AlterarCstIpi">
                  <span aria-hidden="true"></span> Alterar Cst/Ipi
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C170/AlterarInformacoesPisCofins">
                  <span aria-hidden="true"></span> Alterar Inf.PisCofins
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C170/IncluirCodigoContaAnalitica">
                  <span aria-hidden="true"></span> Incluir Cod.Conta Analitica
                </NavLink>
              </div>
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro C195/C197</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C195C197/AjusteRetIcms">
                  <span aria-hidden="true"></span> Ajuste RetIcms
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C195C197/AjusteUsoConsumo">
                  <span aria-hidden="true"></span> Ajuste UsoConsumo
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_C/Registro_C195C197/AjusteCreditoIcmsSimplesNacional">
                  <span aria-hidden="true"></span> Ajuste CreditoIcms Simples
                </NavLink>
              </div>
            </div>
            <a class="nav-link" onclick="toggleSubMenu(this)">Bloco D</a>
            <div class="nav-submenu">
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro D100</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_D/Registro_D100/AlterarData">
                  <span aria-hidden="true"></span> Alterar Data
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_D/Registro_D100/AlterarTipoFrete">
                  <span aria-hidden="true"></span> Alterar TipoFrete
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_D/Registro_D100/IncluirCodigoContaAnalitica">
                  <span aria-hidden="true"></span> Incluir Conta Analitica
                </NavLink>
              </div>
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro D190</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_D/Registro_D190/AlterarCstCfop">
                  <span aria-hidden="true"></span> Alterar Cst/Cfop
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_D/Registro_D190/GerarValoresIcms">
                  <span aria-hidden="true"></span> Gerar ValoresIcms
                </NavLink>
              </div>
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro D195/D197</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_D/Registro_D195D197/AjusteCreditoPresumido">
                  <span aria-hidden="true"></span> Ajustar CredPresumido
                </NavLink>
              </div>
            </div>
            <a class="nav-link" onclick="toggleSubMenu(this)">Bloco H</a>
            <div class="nav-submenu">
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro H010</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="EfdFiscal/Bloco_H/Registro_H010/IncluirCodContaAnalitica">
                  <span aria-hidden="true"></span> Incluir Cod.Conta Analitica
                </NavLink>
                <NavLink class="nav-link" href="EfdFiscal/Bloco_0/Registro_H010/GerarRelatorio">
                  <span aria-hidden="true"></span> Gerar Relatorio
                </NavLink>
              </div>
              <a class="nav-link" onclick="toggleSubMenu(this)">Registro H020</a>
              <div class="nav-submenu">
                <NavLink class="nav-link" href="/EfdFiscal/Bloco_H/Registro_H020/GeraH020">
                  <span aria-hidden="true"></span> Gerar H020
                </NavLink>
              </div>
            </div>
          </div>
        </div>
      }
      @if (modulosLiberados.Contains("Relatorios"))
      {
        <div class="nav-item px-3">
          <a class="nav-link-b">Monofásicos</a>
        <div class="nav-submenu-b">
            <NavLink class="nav-link" href="RelatorioMonofasico/CfopPorNcm">
              <span aria-hidden="true"></span> Relatorio
            </NavLink>
            <NavLink class="nav-link" href="RelatorioMonofasico/ConsultaPorNcm">
              <span aria-hidden="true"></span> Consulta NCMs
            </NavLink>
        </div>
      </div>
      }
    }
  </nav>
</div>

@code {
  private bool collapseNavMenu = true;

  private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }

  private bool isAuthenticated;
  private bool acessoLiberado = false;
  private bool isAdministrador = false;
  private string modulosLiberados = "";

  protected override async Task OnInitializedAsync()
  {
    Descriptografa Descriptografia = new Descriptografa { };
    UsuariosCadastrados usuariosCadastrados = new UsuariosCadastrados { };

    acessoLiberado = await JS.InvokeAsync<string>("VerificaLogin") == "usuario não logado" ? false : true;
    isAdministrador = await JS.InvokeAsync<string>("UsuarioAdm") == "Não" ? false : true;
    modulosLiberados = await JS.InvokeAsync<string>("ModulosLiberados");
  }

  private void NavigateToCadastraNcmMonofasico()
  {
    Navigation.NavigateTo("/RelatorioMonofasico/CadastraNcmMonofasico", true);
  }
}

<script>
  function toggleSubMenu(element) {
      const submenu = element.nextElementSibling;
      submenu.style.display = submenu.style.display === "block" ? "none" : "block";
      }
</script>
